---
layout: default
---

<center><p><strong>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</strong></p></center>

{%- if page.categories.size > 0 -%}
  <center><strong>{{ page.categories | join: ", " }}</strong></center>
{%- endif -%}

{%- if page.tags.size > 0 -%}
  <center><strong>{{ page.tags | join: ", " }}</strong></center>
{%- endif -%}

{%- if page.last-modified-datetime != nill -%}
  <center><strong>{{ page.last-modified-datetime }}</strong></center>
{%- endif -%}

<br />

{{ content }}

<br />

{%- if page.related_post.size > 0 -%}
<fieldset>
  <legend><strong>related posts: </strong></legend>
  {% for postObj in page.related_post %}
    {% assign post = postObj | split: ":" %}
    {% assign post_link = post.last %}
    {%- capture links -%}
    - [{{ post.first }}]({% link {{ post_link }} %})
    {%- endcapture -%}
    {{ links | markdownify }}
  {% endfor %}
</fieldset>
{%- endif -%}